@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Ukończone zadania";
}

<h1 class="display-4">Lista wykonanych zadań</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="width: 30%">
                <i class="fa fa-angle-right"></i>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width: 60%">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="width: 10%">
                @Html.ActionLink("Usuń", "Delete", new { id = item.TaskId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
